[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
python-decouple = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
